* {
    margin: 0;
    padding: 0;
}


.table1 {
    border-collapse: collapse;
    border: 1px solid white;
    height: 500px;
    width: 800px;
}

.table1 th {
    background-color: blue;
    color: white;
    text-align: start;
    padding: 20px;
}

.table1 td {
    padding: 15px;
}


.table1 tr:nth-child(odd) {
    background-color: rgba(180, 180, 180, 0.482);
}


.table2 {
    border-collapse: collapse;
    border: 1px solid white;
    height: 400px;
    width: 700px;
    }

.table2 th {
    color: red;
    text-align: start;
    border-bottom: 2px solid red;
    background-color: white;
}

.table2 tr:nth-child(odd) {
    background-color: rgba(180, 180, 180, 0.482);
}

.table3 {
    border-collapse: separate;
    height: 400px;
    width: 700px;
    }

.table3 th {
    color: white;
    text-align: start;
   }

.table3 th:nth-child(2) {
    background-color: orange;
}

.table3 th:nth-child(3) {
    background-color: red;
}

.table3 th:nth-child(4) {
    background-color: green;
}

.table3 th:nth-child(5) {
    background-color: blue;
}
